html, body {
    height: 100%; 
    margin: 0;
    overflow: hidden;
}
body {
    font-family: Consolas;
    background-image: url('/Roblox-Retro-Racing/bg.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    min-height: 100%;
}
    .imagem{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 250px;
    }
