html, body {
    height: 100%; 
    margin: 0;
    height: auto;
}
body {
    filter: brightness(85%);
    font-family: Consolas;
    background-image: url('/Roblox-Retro-Racing/bg.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    min-height: 100%;
}
#Link{
color: blue;
}
#txt{
color: Maroon;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.15); /* Adjust opacity for darkness */
    pointer-events: none; /* Make sure this doesn't interfere with user interactions */
    z-index: -1;
}
#sb{
font-size: 32
}
